.popup-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .popup-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 500px;
        height: 400px;
        color: white;
        overflow: hidden;
        background-color: #2b2b2bff;
        .pop-top{
            padding: 15px 30px;
            width: 100%;
            height: 90%;
            overflow: auto;
        }
        .pop-bot {
            display: flex;
            flex-grow: 1;
            background-color: #202020FF;
            align-items: center;
            justify-content: flex-end;
            button{
                margin-right : 10px;
                border: none;
                color: white;
                border-radius: 5px;
                background-color: #2b2b2bff;
                width: 200px;
                height: 25px;
            }
            button:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}

h2 {
    padding-bottom: 5px;
}
.content {
    ul {
        list-style: none;
        li {
            padding-bottom: 2px;
            p {
                width: 100%;
                white-space: normal; /* Cho phép xuống dòng tự động */
                word-wrap: break-word; /* Tự động xuống dòng khi cần thiết */
                color: rgb(155, 152, 152);
            }
        }
    }
}
