.song-card {
    position: relative;
    width: 200px;
    height: 250px;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    p {
        padding: 1px 10px;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .name {
        font-weight: 700;
    }
    .artist {
        opacity: 0.6;
        font-size: 0.8rem;
    }

    img {
        width: 100%;
    }
    .more-option {
        position: absolute;
        color: white;
        bottom: 5px;
        right: 0px;
        background-color: transparent;
    }
    .more-option-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .more-option-button:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .popup-option {
        position: absolute;
        background-color: #3b3b3b;
        color: white;
        right: 5px;
        bottom: 50px;
        border-radius: 10px;
        z-index: 0;
        ul {
            list-style: none;
            li {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                transition: 0.5s;
            }
            li:hover {
                opacity: 0.5;
            }
        }

        .shape {
            z-index: -1;
            position: absolute;
            transform: rotate(45deg);
            right: 5px;
            bottom: -5px;
            width: 20px;
            height: 20px;
            background-color: #3b3b3b;
        }
    }
}

.top-section .play {
    position: absolute;
    background-color: red;
    color: white;
    right: 5px;
    bottom: 55px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
    border: 2px solid white;
}

.top-section:hover .play {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section .play:hover {
    box-shadow: 0 0 5px red, 0 0 25px red;
    cursor: pointer;
}
