.login {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(243, 239, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/danny-howe-bn-D2bCvpik-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
  .content-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
  }
  .side-picture {
    position: relative;
    color: white;
    padding: 30px;
    background-image: url('/disk3.jpg');
    background-size: cover;
    width: 480px;
    height: 480px;
    p:nth-child(3){
        position: absolute;
        bottom: 10px;
        right:10px;
    }
  }

  .login-container {
    > h1 {
      margin-bottom: 10px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 400px;
    padding: 60px;
    backdrop-filter: blur(8px);
    form {
      .text-container {
        box-shadow: 0px 20px 16px -3px rgba(0, 0, 0, 0.1);
        margin: 20px 0px;
        position: relative;
        .icon {
          position: absolute;
          top: 6px;
          right: 8px;
        }
        .eye-icon:hover {
          cursor: pointer;
        }
        input {
          width: 200px;
          color: white;
          display: block;
          background-color: transparent;
          padding: 5px 1px 5px 10px;
          border-radius: 24px;
          border: 2px solid white;
        }
        input:focus {
          outline: none;
        }
      }
      button {
        font-weight: 700;
        width: 200px;
        background-color: aliceblue;
        height: 30px;
        border-radius: 24px;
        border: none;
        margin-bottom: 5px;
        transition: 0.3s;
        .spinner{
          animation: rotate 2s linear infinite;
        }
      }
      button:hover {
        cursor: pointer;
        color: red;
        box-shadow: rgba(255, 1, 1, 0.4) 0px 30px 90px;
        text-shadow: 1px 0px 45px rgba(248,9,9,1);
        opacity: 0.9;
      }
    }
    .link {
      color: white;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width : 890px){
    .side-picture{
        display: none;
    }
    .login-container{
        height: 480px;
    }
}
